<div class="container login-container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login-form-1">
      <h3>Transactions Access</h3>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter your name" value="" formControlName="name" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Enter your password" value="" formControlName="password"/>
        </div>
        <div class="form-group">
          <button class="btnSubmit btn btn-primary" (click)="loginUser($event)">Login</button>
				</div>
				<div class="form-group" *ngIf="invalidCredentials">
					<br />
					<h4 class="text-danger">Error on login: <br/> Invalid credentials.</h4>
				</div>
			</form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
