<table id="transactions-list" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">
				<span id="id" class="d-flex justify-content-between pr-2">
					Id
				</span>
			</th>
      <th class="th-sm">
				<span id="date" class="d-flex justify-content-between pr-2">
					Date
				</span>
      </th>
      <th class="th-sm">
				<span id="amount" class="d-flex justify-content-between pr-2">
					Amount
				</span>
      </th>
      <th class="th-sm">
				<span id="amount" class="d-flex justify-content-between pr-2">
					Fee
				</span>
      </th>
      <th class="th-sm">
				<span id="description" class="d-flex justify-content-between pr-2">
					Description
				</span>
      </th>
      <th class="th-sm">
				<span id="user" class="d-flex justify-content-between pr-2">
					userId
				</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!transactions || transactions.length === 0">
      <td colspan="6" align="center"> 
        <h3>NO HAY REGISTROS</h3>
      </td>
    </tr>
    <tr *ngFor="let transaction of transactions">
      <td>{{transaction.id}}</td>
      <td>{{transaction.date | date:'d/MM/y'}}</td>
      <td>{{transaction.amount | currency:'EUR'}}</td>
      <td>{{transaction.fee | currency:'EUR'}}</td>
      <td>{{transaction.description}}</td>
      <td>{{transaction.userId}}</td>
    </tr>
  </tbody>
</table>
