<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Transactions list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto"></div>
    <form class="form-inline my-2 my-lg-0" [formGroup]="filterForm">
			<button 
				id="orderButton"
				class="form-control btn my-2 my-sm-0 mr-3"
				[ngClass]="{'btn-outline-primary': !!orderTitle, 'btn-primary': !orderTitle}"
				type="submit" 
				(click)="orderList($event)"
			>
				{{orderTitles[orderTitle]}}
			</button>
			<input 
				class="form-control mr-sm-2" 
				type="search" 
				placeholder="Filter by..." 
				aria-label="Filter" 
				formControlName="filterInput"
			/>
      <button id="filterButton" class="form-control btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="filterList($event)">Filter</button>
    </form>
  </div>
</nav>
